.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container:hover .text-overlay {
    opacity: 1;
}

.text-overlay p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
